# Ignore builds and tools. Be explicit in what we ignore from our own
# repository. Since we use vendored dependencies, it's possible that `tools/`
# would ignore tools/ directories in dependencies, causing CI issues that are
# hard to debug locally.
builds/compserv-server
builds/compserv-migrate
tools/golangci-lint
tools/kubectl
tools/migrate
tools/protoc

# Ignore potential configs
configs/config.yaml

# Terraform
terraform/.terraform*
terraform/terraform.*

*.swp
.idea
